<aside class="column is-2 is-fullheight menu">
<p class="menu-label">
  Category
</p>
<ul class="menu-list">
  <% categories.each do |category| %>
  <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>
<p class="menu-label">
  Publisher
</p>
<ul class="menu-list">
  <% publishers.each do |publisher|%>
  <li><%= link_to publisher.name, publisher_path(publisher) %></li>
  <% end %>
</ul>
</aside>