
<h1 class="title">Payment</h1>

<div id="dropin-container"></div>
<button id="submit-button" class:'button is-primary'>Confirm to pay</button>

<%= form_with url: paid_order_path(@order.num), id:'payment-form' do |form|%>
<%= form.hidden_field :nonce %>
<% end %>

<input type="hidden" id="token" value="<%= @token %>">


