<h1 class="title" >書本列表</h1>

<%= link_to "新增書本", new_book_path, class: 'button is-primary is-medium' %>

<ul>
<% @books.each do |book| %>
  <li>
    <%= link_to book.title, book_path(book) %>
    <%= link_to "編輯", edit_book_path(book) %>
    <%= link_to "刪除", book_path(book), 
                       method: 'delete',
                       data: {confirm: 'are you sure?'} %>
  </li>
<% end %>
</ul>